<launch> 
    <!-- map -->
    <arg name="map_file0" default="$(find cirkit_waypoint_navigator)/maps/tukuba_environment/map1.yaml" />
    <arg name="map_file1" default="$(find cirkit_waypoint_navigator)/maps/tukuba_environment/map2.yaml" />
    <arg name="map_file2" default="$(find cirkit_waypoint_navigator)/maps/tukuba_environment/map3.yaml" />
    <arg name="map_file3" default="$(find cirkit_waypoint_navigator)/maps/tukuba_environment/map4.yaml" />
    <arg name="map_file4" default="$(find cirkit_waypoint_navigator)/maps/tukuba_environment/map5.yaml" />
    <arg name="map_file5" default="$(find cirkit_waypoint_navigator)/maps/tukuba_environment/map6.yaml" />

    <!-- map server -->
	<node respawn="true" name="map_server0" pkg="map_server" type="map_server" args="$(arg map_file0)">
        <remap from="/map" to="/map0" />
    </node>
	<node respawn="true" name="map_server1" pkg="map_server" type="map_server" args="$(arg map_file1)">
        <remap from="/map" to="/map1" />
        <remap from="/static_map" to="/static_map1" />
    </node>
	<node respawn="true" name="map_server2" pkg="map_server" type="map_server" args="$(arg map_file2)">
        <remap from="/map" to="/map2" />
        <remap from="/static_map" to="/static_map2" />
    </node>
	<node respawn="true" name="map_server3" pkg="map_server" type="map_server" args="$(arg map_file3)">
        <remap from="/map" to="/map3" />
        <remap from="/static_map" to="/static_map3" />
    </node>
	<node respawn="true" name="map_server4" pkg="map_server" type="map_server" args="$(arg map_file4)">
        <remap from="/map" to="/map4" />
        <remap from="/static_map" to="/static_map4" />
    </node>
    <node respawn="true" name="map_server5" pkg="map_server" type="map_server" args="$(arg map_file5)">
        <remap from="/map" to="/map5" />
        <remap from="/static_map" to="/static_map5" />
    </node>

    <!-- way point -->
    <arg name="waypoint_filename1" default="$(find cirkit_waypoint_navigator)/waypoints/tukuba_environment/map1_right_waypoint.csv" />
    <arg name="waypoint_filename2" default="$(find cirkit_waypoint_navigator)/waypoints/tukuba_environment/map2_waypoint.csv" />
    <arg name="waypoint_filename3" default="$(find cirkit_waypoint_navigator)/waypoints/tukuba_environment/map3_waypoint.csv" />
    <arg name="waypoint_filename4" default="$(find cirkit_waypoint_navigator)/waypoints/tukuba_environment/map4_waypoint.csv" />
    <arg name="waypoint_filename5" default="$(find cirkit_waypoint_navigator)/waypoints/tukuba_environment/map5_waypoint.csv" />
    <arg name="waypoint_filename6" default="$(find cirkit_waypoint_navigator)/waypoints/tukuba_environment/map6_waypoint.csv" />
    <arg name="start_waypoint" default="0"/>

    <node respawn="true" name="cirkit_waypoint_navigator_node1" pkg="cirkit_waypoint_navigator" type="cirkit_waypoint_navigator_node" output="screen">
        <param name="waypointsfile" value="$(arg waypoint_filename1)" />
        <param name="start_waypoint" value="$(arg start_waypoint)"/>
    </node>
    <node respawn="true" name="cirkit_waypoint_navigator_node2" pkg="cirkit_waypoint_navigator" type="cirkit_waypoint_navigator_node" output="screen">
        <param name="waypointsfile" value="$(arg waypoint_filename2)" />
        <param name="start_waypoint" value="$(arg start_waypoint)"/>
    </node>
    <node respawn="true" name="cirkit_waypoint_navigator_node3" pkg="cirkit_waypoint_navigator" type="cirkit_waypoint_navigator_node" output="screen">
        <param name="waypointsfile" value="$(arg waypoint_filename3)" />
        <param name="start_waypoint" value="$(arg start_waypoint)"/>
    </node>
    <node respawn="true" name="cirkit_waypoint_navigator_node4" pkg="cirkit_waypoint_navigator" type="cirkit_waypoint_navigator_node" output="screen">
        <param name="waypointsfile" value="$(arg waypoint_filename4)" />
        <param name="start_waypoint" value="$(arg start_waypoint)"/>
    </node>
    <node respawn="true" name="cirkit_waypoint_navigator_node5" pkg="cirkit_waypoint_navigator" type="cirkit_waypoint_navigator_node" output="screen">
        <param name="waypointsfile" value="$(arg waypoint_filename5)" />
        <param name="start_waypoint" value="$(arg start_waypoint)"/>
    </node>
    <node respawn="true" name="cirkit_waypoint_navigator_node6" pkg="cirkit_waypoint_navigator" type="cirkit_waypoint_navigator_node" output="screen">
        <param name="waypointsfile" value="$(arg waypoint_filename6)" />
        <param name="start_waypoint" value="$(arg start_waypoint)"/>
    </node>

    <node pkg="cirkit_waypoint_generator" name="cirkit_waypoint_server1" type="cirkit_waypoint_server" args="--load $(arg waypoint_filename1)" output="screen"/>
    <node pkg="cirkit_waypoint_generator" name="cirkit_waypoint_server2" type="cirkit_waypoint_server" args="--load $(arg waypoint_filename2)" output="screen"/>
    <node pkg="cirkit_waypoint_generator" name="cirkit_waypoint_server3" type="cirkit_waypoint_server" args="--load $(arg waypoint_filename3)" output="screen"/>
    <node pkg="cirkit_waypoint_generator" name="cirkit_waypoint_server4" type="cirkit_waypoint_server" args="--load $(arg waypoint_filename4)" output="screen"/>
    <node pkg="cirkit_waypoint_generator" name="cirkit_waypoint_server5" type="cirkit_waypoint_server" args="--load $(arg waypoint_filename5)" output="screen"/>
    <node pkg="cirkit_waypoint_generator" name="cirkit_waypoint_server6" type="cirkit_waypoint_server" args="--load $(arg waypoint_filename6)" output="screen"/>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find cirkit_waypoint_navigator)/rviz/way_point_publish.rviz"/>
</launch>