<launch>
    <node name="ypspur_ros" pkg="ypspur_ros" type="ypspur_ros" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="param_file" value="/home/muttaqien-m/researches/programs/platform/yp-robot-params/robot-params/beego.param"/>
    </node>
    <node name="follow_line" pkg="yamasemi2023_follow" type="follow_line" output="screen">
        <param name="param_file" value="/home/muttaqien-m/researches/programs/platform/yp-robot-params/robot-params/beego.param"/>
    </node>
</launch>